@font-face {
  font-family: Intro;
  src: url(/Assets/Font/intro-2/Intro\ Black\ Alt.otf);
}

@font-face {
  font-family: Intro Reguler;
  src: url(/Assets/Font/intro-2/Intro\ Regular\ Alt.otf);
}

@font-face {
  font-family: Intro Book;
  src: url(/Assets/Font/intro-2/Intro\ Book\ Alt.otf);
}
@font-face {
  font-family: Intro Light;
  src: url(/Assets/Font/intro-2/Intro\ Light\ Alt.otf);
}
*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: Intro;
  background-color: #000;
  color: #fffff0;
}

a {
  text-decoration: none;
  color: #fffff0;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  margin: 2em;
  font-weight: 800;
}

header ul {
  font-family: "Intro Reguler";
  display: flex;
  align-items: center;
  gap: 3em;
  font-weight: 500;
}

.header-menu-logo {
  font-size: 2.3em;
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

.header-menu-logo:hover {
  color: #921a40;
}

header p {
  font-size: 16px;
  background-color: #03346e;
  padding: 0.3em 1.5em;
  border-radius: 20px;
  transition: ease 0.3s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

header p:hover {
  background-color: #fffff0;
  color: #03346e;
}
header h1 {
  animation: masuk-1 0.3s;
  -webkit-animation: masuk-1 0.3s;
}

header p {
  font-family: Intro Reguler;
  opacity: 0;
  animation: masuk-1 0.3s forwards;
  -webkit-animation: masuk-1 0.3s forwards;
  animation-delay: 1.05s;
}

header li {
  opacity: 0;
}

.li-1 {
  animation: masuk-1 0.3s forwards;
  -webkit-animation: masuk-1 0.3s forwards;
  animation-delay: 0.1s;
}
.li-2 {
  animation: masuk-1 0.3s forwards;
  -webkit-animation: masuk-1 0.3s forwards;
  animation-delay: 0.3s;
}
.li-3 {
  animation: masuk-1 0.3s forwards;
  -webkit-animation: masuk-1 0.3s forwards;
  animation-delay: 0.5s;
}
.li-4 {
  animation: masuk-1 0.3s forwards;
  -webkit-animation: masuk-1 0.3s forwards;
  animation-delay: 0.65s;
}
.li-5 {
  animation: masuk-1 0.3s forwards;
  -webkit-animation: masuk-1 0.3s forwards;
  animation-delay: 0.8s;
}
.li-6 {
  animation: masuk-1 0.3s forwards;
  -webkit-animation: masuk-1 0.3s forwards;
  animation-delay: 1s;
}

@keyframes masuk-1 {
  0% {
    transform: translateY(20px);
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* main */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

span {
  font-weight: 800;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  gap: 5em;
}

hr {
  height: 75%;
}

img {
  rotate: 90deg;
  width: 40%;
  margin-left: 12em;
}

main p {
  font-family: Intro Reguler;
  font-size: 3.5vmin;
}

@media (min-width: 774px) {
  .alert {
    display: none;
  }
}

@media (max-width: 774px) {
  body {
    background-color: #e4003a;
    background-image: none;
  }
  header {
    display: none;
  }
  main {
    display: none;
  }
  .alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .alert h1 {
    text-align: center;
    width: 50%;
    font-size: 6vmin;
    margin-bottom: 1em;
    animation: alerth 0.3s;
    -webkit-animation: alerth 0.3s;
  }
  .alert i {
    margin: 0;
    font-size: 10vmin;
    animation: alerti 1.5s infinite;
    -webkit-animation: alerti 1.5s infinite;
  }
  @keyframes alerth {
    from {
      transform: translateY(40px);
      -webkit-transform: translateY(40px);
      -moz-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -o-transform: translateY(40px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes alerti {
    0%,
    100% {
      color: #fffff0;
    }
    50% {
      color: #ffb200;
    }
  }
}
